*{
    padding: 0;
    margin: 0;
    font-family: arial;

}
.nav-bar{
    background-color:#284b71;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.left-nav-bar{
height: 50px;
width:20% ;
padding-left: 30px;

}
.left-nav-bar .logo-p1{
    color: #89e8d2;
    font-size: 13px;
    font-weight:bold;
    padding-top: 13px;
} 
.left-nav-bar .logo-p2{
    color: white;
    font-size: 8.7px;
    font-weight:bold;  
}



.center-nav-bar{
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2;
}
.center-nav-bar p{
    color: white;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    white-space:nowrap;
    height:18px ;
}
.center-nav-bar p:last-child{
    color: #89e8d2;
}
.center-nav-bar p:hover{
    background-color:#1c528f;
    height: 13px;
    margin-bottom: 5px;    
}




.right-nav-bar{
    height: 50px;
    width:19%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    
}
.log-in{
    height: 23px;
    width: 50px;
    font-size: 8px;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    background-color: transparent;
    cursor: pointer;
}
.log-in:hover{
    background-color:#3b5e86;
    border: none;
    
}
/*end of nav bar*/



.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    align-items: center;
    padding-top: 50px;
    background-color:  #284b71;

}
.header .p1{
    color: white;
    font-size: 25px;
    font-weight: ;
    padding:5px 0px 10px 0px;
}
.header .p2{
    color: white;
    text-align: center;
    font-size: 9px;
    width:230px;
    padding-bottom: 15px;
}
.header .post-job-button {
    background-color:#6efab3;
    font-size: 7px;
    font-weight: bold;
    height: 22px;
    width: 60px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.post-job-button:hover{
    background-color:#4a7db6;
    border: none;
}
/*end of headr*/

.how-it-works{
width: 100%;
height: 150px;
display: flex;
flex-direction: column;
align-items: center;
}
.how-it-works p:first-child{
    font-size: 25px;
    font-weight: bolder;
    padding-top:40px;
    padding-bottom:12px ;
    
}
.how-it-works p:last-child{
    
    text-align: center;
    font-size: 9px;
    width:330px;
}

/*main*/
.section1{
    display: flex;
    justify-content: center;
}

.main{ 
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.post,.cv,.qualified{
    display: flex;
    flex: 1;
    height: 250px;
    flex-direction: column;
    margin-left: 5%px;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    max-width:300px;
    border-radius: 2px;
    margin-top: 10px;
}
.qualified{
margin-right: 20px;
}
.post img,.cv img,.qualified img{
    width: 40px;
    border-radius: 20px;
    margin-top: 40px;
}
.cv img{
    height: 40px;
    border-radius: 19px;
}
.post .p1,.cv .p1,.qualified .p1{
    width: auto;
    font-size:15px;
    text-align: center;
    padding:12px 12px 0px 12px;
    font-weight: bold;
}
.post .p2,.cv .p2,.qualified .p2{
    color: rgb(117, 116, 116);
    width: 140px;
    font-size:9px;
    text-align: center;
    padding-top:12px;
    padding-bottom: 15px;
}
.post .button-post ,.cv .putton-cv,.qualified .putton-qualifiad{
   background-color: transparent;
   border: 1px solid rgb(107, 106, 106);
   width: 90%;
   height: 26px;
   border-radius: 40px;
   font-size: 9px;
   font-weight: bold;
   margin-top: 20px;
   cursor: pointer;
}
.cv .putton-cv{
    background-color: #164068;
    border: none;
    color: white;
}
.post .button-post:hover{
    background-color: rgb(207, 203, 203);
    border: none;
}
.cv .putton-cv:hover{
    background-color: rgb(207, 203, 203);
    border: none;
    color: black;
}
.qualified .putton-qualifiad:hover{
    background-color: rgb(207, 203, 203);
    border: none;
}
/*main2*/

.main2{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 20px;
    flex-wrap: wrap;
}
.left-bar-main2{
    padding-left:4%;
    align-self: center;
    margin-bottom: 35px;
   
}
.second-div{
    width: 250px;
    height: 290px;
    background-color: #e7ecf0;
    position: relative;
    border-radius: 3px;
}
.job-img{
    right: -20px;
    top: 20px;
    width:250px;
 position: absolute;
 
}
.job-img img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}





.right-bar-main2{
padding-right:10% ;
min-width: 300px;
}
.hiring-tital{
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 10px;
}    
.text-div{
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.text-div p:first-child{
    color: #3b6b9b;
    font-weight: 900;
    font-size: 12px;
}
.text-div p:last-child{
    color: rgb(117, 116, 116);
    width: 80%;
    font-size:9px;
    text-align: left;
    line-height: 15px;
    padding-top:4px;
    padding-bottom: 15px;
}

/*pricing seaction*/

.pricing p:first-child{
    font-size: 25px;
    font-weight: bolder;
    padding-top: 80px;
    padding-bottom: 6px;
    text-align: center;
}
.pricing .p2{
    color: rgb(117, 116, 116);
    font-size:9px;
    text-align: center;
    padding-bottom: 15px;
}
.button-div{
    background-color: lightgray;
    width: 185px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 39px;
    padding: 2px 2.5px 2.5px 3px;
}
.pricing-button1,.pricing-button2{
    background-color: white;
    border: none;
    width: 90px;
    height: 25px;
    border-radius: 38px;
    font-size: 9px;
    font-weight: 900;
    cursor: pointer;
    transform:1s;
}
   
.pricing-button1:hover{
    background-color:  #284b71;;
    border: none;
    color: white;
}
.pricing-button2:hover{
    background-color: #284b71;;
    border: none;
    color: white;
}

/*price lists seaction*/

.price-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.rifgt-price-list, .left-price-list{
    width: 40%;
    background-color:#183f66;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 30px;
}
.left-price-list{
    background-color:white;
    box-shadow: 0px 1px 9px rgb(228, 220, 220, 0.8);
}
.price-p1{
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    color: white;
}
.price-p2{
    color: rgb(202, 198, 198);
    font-size:9px;
    text-align: left;
    padding-bottom: 15px;
}
.price-p3{
    color: rgb(202, 198, 198);
    font-size:9px;
    text-align: left;
    padding-bottom: 15px;
}
 span{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
ul li{
    list-style: none; 
    color: rgb(226, 221, 221);
    font-size:10px;
    text-align: left;
    padding-bottom: 10px;
}
.price-button, .price1-button1{
    background-color:#18ff8b;
    border: none;
    width: 90%;
    height: 26px;
    border-radius: 40px;
    font-size: 9px;
    font-weight: 900;
    margin: 20px 0px 30px 0px;
    cursor: pointer;
 }
.price1-button1{
    background-color:rgb(231, 218, 218);
}
.price1-p1{
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    color: black;
}
.price1-p2{
    color: rgb(226, 224, 224);
    font-size:9px;
    text-align: left;
    padding-bottom: 15px;
}
.price1-p3{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.left-price-list ul li{
    list-style: none; 
    color: black;
    font-size:10px;
    text-align: left;
    padding-bottom: 10px;
    font-weight: 700;
}
.price1-button1:hover{
    background-color:  #284b71;;
    border: none;
    color: white;
}
.price-button:hover{
    background-color: #284b71;;
    border: 1px solid rgb(116, 111, 111);
    color: white;
}





.quastion-section{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 10px;
}
.quastions-left, .quastions-right{
    flex: 1;
}
.quastions-left :first-child{
    font-weight: 800;
    padding-bottom: 23px;
    font-size:19px;
    color: black;
}
.quastions-left p, .quastions-right p{
    font-size:13px;
    padding-bottom: 12px;
    font-weight: 700;
    color: rgb(77, 69, 69);
}
.quastions-right p:first-child{
    padding-top:50px ;
}
.quastion{
    width: 100%;
    display: flex;
    flex-direction: row;
}



footer{
    width:100%;
    height: 275px;
    margin-top:20px ;
    background:linear-gradient(to right,#13304d,#2a78c5);
}
.footer-div{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:50px;
    padding-top:50px;
    margin-right: auto;
    margin-left: auto;
}
.left-footer p,.center-footer p,.right-footer p{
    color: rgb(223, 217, 217);
    font-size:10px;
    padding-bottom: 10px;
    font-weight: 700;
}
.left-footer p:first-child,
.center-footer p:first-child,
.right-footer p:first-child{
    font-size:13px;
    color: white;
    font-weight: 900;
}


@media  screen and (max-width:600px) {
    .price-div{
      flex-direction: column;
      align-items: center;
    }
    .rifgt-price-list, .left-price-list{
        margin-top: 15px;
        width: 90%;
    }
   
    .nav-bar{
        height: 110px;  
        align-items: baseline;
    }
    .center-nav-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .center-nav-bar p{
        flex: 1;
        text-align: center;
        padding: 8px;
    }
    .header{
        padding-top: 105px;
    }
    .main{
        grid-template-columns: 1fr;

    }
    .post,.cv,.qualified{
        height: 280px;
        padding-top: 25px;
        margin-left: 45px;
    }
}
